@page "/index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="body">
    <button onclick="GetActor()">Lấy danh sách diễn viên</button>
</div>
<script type="text/javascript">
    function GetActor(){
        $.ajax({
            url: "Actor/GetActor",
            dataType: "json",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            async: false,
            cache: false,
            //data: parameter
        }).done(function (e) {
            alert("abc")
        });
    }
</script>